  .cal{
       
       height:100%;
       width:100%;
       
       display: inline-block;
       background-color:#7b7b7b;
   
   }
   
   .calender{ 
 height: 500px; 
 width:360px; 
 background-color: black; 
 color: white; 
 margin:20px;
 display: inline-block;
 border-style:solid;
 border-width:10px;
 border-color:white;
 
 }
  
 
 .img{ 
     height: 40%; 
     width:100%; 
     background-color: bisque; 
     overflow: hidden; 
 }  
 .image{ 
     height:100%; 
     width:100%; 
     overflow: hidden; 
 } 
  
 .date{ 
     height:50%; 
     width:100%; 
 }
 .m{
     
     height:5%;
 }
  h1{
  
     font-size:19px;
     text-align:center;
     color:red;
 }
 table{
    height:95%;
     width:100%;
     padding:0px;
 text-align: center; 
    }
 .weeks{
     
     color:white;
     font-weight:bold;
     font-size:17px;
 }
 .hov:hover{ 
     background-color: rgb(64, 95, 85); 
  
 } 
 .hov:active{ 
     background-color: rgb(79, 53, 21); 
 }
 .holiday{
     color:red;
     
     
 }